/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */

body {
  background-color: #333;
}

/* Icons */
.icon {
  font-size: 64px;
  animation: float 5s ease-in-out infinite;
}

.icons-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-twitter {
  animation-delay: 0.2s;
  color: #00acee;
}

.fa-youtube {
  color: red;
  animation-delay: 0.3s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
